body, html {
    height: 100%;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
  }

  body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  footer {
    margin-top: auto;
    width: 100%;
    color: white;
    text-align: center;
  }
/*
    Modal (popup box) things thank you w3schools.com 
*/
/* Modal background */
.modal {
  display: none; /* Makes it hidden by default */
  position: fixed; /* Box stays in place */
  z-index: 1; /* Makes box sit on top of the rest of the site */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal contents */
.modalContent{
  background-color: white;
  color: saddlebrown;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;


}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 4em;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #b33e3e;
  text-decoration: none;
  cursor: pointer;
}

/*
    Other classes in alphabetical order
*/
.bg{
    background-image: url('images/layers.png');

    /*Set image to fit screen with vertical scroll*/
   height: 645vw;
    width: 95vw;

    background-repeat: no-repeat;
    background-color: rgb(56, 133, 172);
    background-size: cover;
  }
  .boxImg{
    width:40%;
  }

  .boxWide{
    width: 60%;
  }

  .fossilButton{
    position:absolute;
    background: transparent;
    border:none;
    width: 10vw;
    height: 10vw;
  }
  .fossilButton img{
    width: 10vw;
    margin:auto;

  }
  .fossilButton:hover,
  .fossilButton:focus {
    cursor: pointer; /* Show pointer cursor on hover */
  }

  .p {
    font-size: min(3vw, 24px); 
    color: saddlebrown;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 5%;
    padding: 2%;
  }

  .title{
    font-size: min(8vw, 70px);
    text-shadow: 
      1px 2px 0 saddlebrown,
      0 0 1em skyblue,
      0 0 0.2em skyblue;
    color: white;

    margin-left: 20px;
  }

